.license-wrpper {padding:50px 0;user-select:text}
.license {overflow:visible !important;width:730px; height: 898; margin:0 auto;box-shadow:0 0 0.5cm rgba(0,0,0,0.1);padding:5em 3em;color:#333;background:#fff;box-sizing:border-box}
.license > .title {line-height:normal;font-size:1.3em;text-align:center}
.license > .title img {display:block;width:5em;margin:0 auto 1em}
.license > .title strong {display:block;font-size:1.4rem;font-weight:700}
.license > .content {margin-top:4em}
.license > .content ul {width:90%;margin:0 auto}
.license > .content ul li {overflow:hidden;padding:0.8em 0;font-size:1.1em;border-bottom:1px solid #e5e5e5}
.license > .content ul li:last-child {border:0}
.license > .content ul li strong {float:left;display:block;width:20%;padding-right:10px;text-align:right;font-weight:700}
.license > .content ul li span {float:left;display:block;width:75%;padding-left:10px;text-align:left;word-break:break-all}
.license > .content p {width:90%;margin:2em auto 0;line-height:normal;text-align:center;font-size:1.1em}
.license > .content p strong {font-weight:bold}
.license > .copyright {margin-top:2em;text-align:center;font-size:1.3em}
.license-wrpper .button {margin-top:20px;text-align:center}
.license-wrpper .button a {display:inline-block;padding:10px 20px;text-align:center;color:#fff;border-radius:5px;background:#d14452}
